# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
apigee-remote-service-envoy

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.txt

config.yaml
test.yaml

# Distribution
dist/
